.journal-item_header {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}
  
.Journal-item_body {
  display: flex;
  align-items: center;
  gap: 10px;
}
  
.journal-item_date {
  font-weight: 400;
  font-size: 16px;
  color:rgba(255, 255, 255, 0.4);
  font-style: normal;
  line-height: normal;
  margin: 0;
}

.journal-item_text{
  font-weight: 400;
  font-size: 16px;
  color:rgba(255, 255, 255, 0.4);
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 240px;
  margin: 0;
}